<ul class="list-group">
    <li 
        class="list-group-item d-flex justify-content-between" 
        *ngFor="let item of items; let i = index">
        <div [routerLink]="['items', i]">{{item.name}}</div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-light" (click)="openLink(i)"><i class="bi bi-box-arrow-up-right"></i></button>
            <button type="button" class="btn btn-light" (click)="moveItemUp(i)"><i class="bi bi-arrow-up"></i></button>
            <button type="button" class="btn btn-light" (click)="moveItemDown(i)"><i class="bi bi-arrow-down"></i></button>
            <button type="button" class="btn btn-danger" (click)="removeItem(i)"><i class="bi bi-trash"></i></button>
    </div>
    </li>
</ul>