<form>
    <div class="mb-3">
        <label for="pageTitle" class="form-label">Title</label>
        <input type="email" class="form-control" id="pageTitle" placeholder="Example Title">
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Url</label>
        <input type="email" class="form-control" id="url" placeholder="https://www.example.com">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Inert your description or annotations here."></textarea>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Save</button>
    </div>
</form>