<form (ngSubmit)="save()" #f="ngForm">
    <div class="mb-3">
        <label for="pageTitle" class="form-label">Title</label>
        <input 
            type="text" 
            class="form-control" 
            id="pageTitle" 
            placeholder="Example Title"
            ngModel
            name="title"
            required
            [disabled]="readonly"
        >
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Url</label>
        <input 
            type="text" 
            class="form-control" 
            id="url" 
            placeholder="https://www.example.com"
            ngModel
            name="url"
            required
            [pattern]="urlRegex"
            [disabled]="readonly"
        >
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
            class="form-control" 
            id="description" 
            rows="3" 
            placeholder="Inert your description or annotations here."
            ngModel
            name="description"
            [disabled]="readonly"
        ></textarea>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" type="submit" [disabled]="f.invalid" *ngIf="!readonly">Save</button>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="readonly" (click)="enableEditMode()">Edit</button>
    </div>
</form>